@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #1b1b1b;
    --font-header: 3.5rem;
    --font-counter: 5.5rem;
    --font-save: 1.75rem;
    --button-margin: 1rem;
    --button-padding: 1rem;
}

* {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: 600;
    font-size: var(--font-header);
    user-select: none;
    color: #f8f8f8;
}

.buttons {
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    margin: var(--button-margin);
    background-color: #3a3a3a;
    padding: var(--button-padding);
    cursor: pointer;
    user-select: none;
    border-radius: 2rem;
    color: #fff;
}

#count-el {
    font-size: var(--font-counter);
    font-weight: 650;
    color: #fff;
}

#save-el {
    font-size: var(--font-save);
    color: #fff;
}

.container, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    flex-direction: column;
    border: 1rem solid white;
    text-align: center;
}

